[submodule "fish/oh-my-fish"]
  path = fish/oh-my-fish
  url = https://github.com/bpinto/oh-my-fish
[submodule "i3/blocks"]
  path = i3/blocks
  url = https://github.com/acleverpun/i3-blocks-contrib.git
[submodule "fish/nvm-fish-wrapper"]
	path = fish/nvm-fish-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
